option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: 'production'
    DATA_BASE_PASSWORD: 'PS71yafIlD9jAbEJa4ri'
    DATA_BASE_USER: 'root'
    DATA_BASE_NAME: 'denisKravchenkoCartDB'
    DATA_BASE_HOST: 'carts.c9dcprvk2e7w.us-east-1.rds.amazonaws.com+'
    DATA_BASE_PORT: '5432'